.type-name{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.subject-type{
    display: flex;
    border-bottom: 2px gray dotted;
}

.subject-semesters{
    display: flex;
}